<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generador de Personajes 🍃 MERP Tools</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <header>Generador de Personajes 0.1</header>

    <main id="npcgen">
        <form action="" @submit.prevent="generate">
            <fieldset>
                <Name ref="name"/>
            </fieldset>

            <fieldset>
                <Combobox ref="gender" id="npc-gender" title="Género"
                          :data="data.genders"
                          v-model="gender"/>
            </fieldset>
            
            <fieldset>
                <Combobox ref="prof" id="prof" title="Profesión"
                          :data="data.professions"
                          v-model="prof"/>
            </fieldset>
            
            <fieldset>
                <Combobox ref="job" id="job" title="Oficio" :enable="true" :disabled="true"
                          :data="data.jobs"
                          v-model="job"/>
            </fieldset>
            
            <fieldset>
                <Combobox ref="race" id="race" title="Raza"
                          :data="data.races"
                          v-model="race"/>
            </fieldset>
            
            <fieldset>
                <RangeNumeric ref="level" id="npc-level" title="Nivel" :min="1" :max="levelMax"
                       :random="true"
                       v-model="level"/>
            </fieldset>
            
            <fieldset>
                <Combobox ref="atk1" id="atk1" title="Ataque principal"
                          :data="data.attacks"
                          v-model="atk1"/>
            </fieldset>
            
            <fieldset>
                <Combobox ref="atk2" id="atk2" title="Ataque secundario"
                          :data="data.attacks"
                          v-model="atk2"/>
            </fieldset>

            <fieldset>
                <input type="checkbox" value="shield" id="npc-shield"
                       v-model="shield">
                <label for="npc-shield">Escudo</label>
                <input type="checkbox" value="magic" id="npc-magicdef"
                       v-model="shield">
                <label for="npc-magicdef">Defensa mágica</label>
            </fieldset>
            
            <fieldset>
                <Slider ref="variation" id="npc-variation" title="Variación"
                        :min="0" :max="100" :step="1"
                        v-model="variation"/>
            </fieldset>

            <input type="submit" value="Generar"> <!-- <input type="number" name="qty"> -->
        </form>

        <article>
            <p class="center">
                <strong>{{ npc.name }}</strong> ({{ npc.race.label }}<span v-if="npc.gender.id !== 'nd'">, {{ npc.gender.label }}</span>)
            </p>
            
            <section>
                <Stats ref="stats" :data="data.stats" :npc="npc" :level-max="levelMax"
                       :variation="variation" :shield="shield"/>
            </section>
            
            <section>
                Rasgos de interpretación
                <ul>
                    <li>Personalidad</li>
                    <li>Motivación</li>
                    <li>Alineamiento</li>
                </ul>
            </section>
        
            <section>
                Conducta
                <ul>
                    <li>Alineamiento: +0</li>
                    <li>Honestidad: +0</li>
                    <li>Dominante: +0</li>
                </ul>
            </section>
        
            <section>
                <!-- https://springhole.net/writing_roleplaying_randomators/basic-character-appearance.htm -->
                Apariencia física
                <ul>
                    <li>Piel</li>
                    <li>Cabello</li>
                    <li>Ojos</li>
                    <li>Altura</li>
                    <li>Peso</li>
                    <li>Complexión</li>
                </ul>
            </section>
        </article>
    </main>

    <footer>
        &copy; 2020 La Tierra de Mierda
    </footer>

    <script src="../js/vendor/vue.v3.0.3.global.js"></script>
    <script src="../../dist/npc/js/app.js"></script>
</body>

</html>