<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generador de Personajes 🍃 MERP Tools</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <header>Generador de Personajes 0.1</header>

    <main id="npcgen">
        <form action="" @submit.prevent="generate">
            <fieldset>
                <Name ref="name"/>
            </fieldset>

            <fieldset>
                <Combobox ref="gender" id="gender" title="Género"
                          :data="data.genders"
                          v-model="gender"/>
            </fieldset>
            
            <fieldset>
                <Combobox ref="prof" id="prof" title="Profesión"
                          :data="data.professions"
                          v-model="prof"/>
            </fieldset>
            
            <fieldset>
                <Combobox ref="job" id="job" title="Ocupación" :enable="true"
                          :data="data.jobs"
                          v-model="job"/>
            </fieldset>
            
            <fieldset>
                <Combobox ref="race" id="race" title="Raza"
                          :data="data.races"
                          v-model="race"/>
            </fieldset>

            <fieldset>
                <label for="npc-level-start">Nivel</label>
                <input type="number" name="level-start" id="npc-level-start" min="1" max="50"
                       v-model="levelStart"
                       :disabled="randomLevel">
                a
                <input type="number" name="level-end" max="50"
                       v-model="levelEnd"
                       :min="levelStart"
                       :disabled="randomLevel">
                <input type="checkbox" id="npc-level-random"
                       v-model="randomLevel">
                <label for="npc-level-random">Aleatorio</label>
            </fieldset>
            
            <fieldset>
                <Combobox ref="atk1" id="atk1" title="Ataque principal"
                          :data="data.attacks"
                          v-model="atk1"/>
            </fieldset>
            
            <fieldset>
                <Combobox ref="atk2" id="atk2" title="Ataque secundario"
                          :data="data.attacks"
                          v-model="atk2"/>
            </fieldset>

            <fieldset>
                <input type="checkbox" name="shield" id="npc-shield">
                <label for="npc-shield">Escudo</label>
            </fieldset>

            <fieldset>
                <label for="npc-variation">Variación</label>
                <input type="range" name="variation" id="npc-variation" min="0" max="100" step="1"
                       v-model="variation">
                <input type="number" min="0" max="100"
                       v-model="variation">%
            </fieldset>

            <input type="submit" value="Generar"> <!-- <input type="number" name="qty"> -->
        </form>

        <article>
            <table>
                <caption>
                    {{ npc.name }} ({{ npc.race.label }}<span v-if="npc.gender.id !== 'nd'">, {{ npc.gender.label }}</span>)
                </caption>
                <thead>
                    <tr>
                        <th>Profesión</th>
                        <th><abbr title="Nivel">#</abbr></th>
                        <th><abbr title="Tipo de armadura (Bonificación defensiva)">TA (BD)</abbr></th>
                        <th><abbr title="Puntos de vida">Pv</abbr></th>
                        <th><abbr title="Puntos de poder">PP</abbr></th>
                        <th><abbr title="Bonificación ofensiva con el Arma principal">BO 1ª</abbr></th>
                        <th><abbr title="Bonificación ofensiva con el Arma secundaria">BO 2ª</abbr></th>
                        <th><abbr title="Maniobra y movimiento">MM</abbr></th>
                        <th><abbr title="Habilidades generales">HG</abbr></th>
                        <th><abbr title="Acechar y esconderse">Acech. Escond.</abbr></th>
                        <th><abbr title="Abrir cerraduras / Desactivar trampas">Cerrad./Tramp.</abbr></th>
                        <th><abbr title="Percepción">Per.</abbr></th>
                        <th><abbr title="Leer runas">Runas</abbr></th>
                        <th><abbr title="Usar objetos">Usar</abbr></th>
                        <th><abbr title="Bonificación sortilegios base (cantidad de listas de sortilegios)">Sort. (#)</abbr></th>
                        <th><span title="Bonificación por habilidad de Oficio relacionada">Oficio</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{ npc.prof.label }}
                            <span v-if="npc.job.label">/ {{ npc.job.label }}</span>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><abbr :title="npc.atk1.label">{{ npc.atk1.id }}</abbr></td>
                        <td><abbr :title="npc.atk2.label">{{ npc.atk2.id }}</abbr></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            
            <section>
                Rasgos de interpretación
                <ul>
                    <li>Personalidad</li>
                    <li>Motivación</li>
                    <li>Alineamiento</li>
                </ul>
            </section>
        
            <section>
                Conducta
                <ul>
                    <li>Alineamiento: +0</li>
                    <li>Honestidad: +0</li>
                    <li>Dominante: +0</li>
                </ul>
            </section>
        
            <section>
                <!-- https://springhole.net/writing_roleplaying_randomators/basic-character-appearance.htm -->
                Apariencia física
                <ul>
                    <li>Piel</li>
                    <li>Cabello</li>
                    <li>Ojos</li>
                    <li>Altura</li>
                    <li>Peso</li>
                    <li>Complexión</li>
                </ul>
            </section>
        </article>
    </main>

    <footer>
        &copy; 2020 La Tierra de Mierda
    </footer>

    <script src="../js/vendor/vue.v3.0.2.global.js"></script>
    <script src="../../dist/npc/js/app.js"></script>
</body>

</html>