@import '../../common/css/normalize.css';

body {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    background-color: #ddd;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #999;
}

abbr[title] {
    text-decoration: none;
    cursor: help;
}
    abbr[title]:hover,
    abbr[title]:focus {
        text-decoration: underline dotted;
    }

.center {
    text-align: center;
}

.right {
    text-align: right;
}